*.*
*
/npc/vsrc_ok
/fceux-am
/nvboard
/am-kernels
/ysyxSoC
/npc/.history
/npc.prev
/npc_bnk_yosys
/npc/include/config/cc/lto.h
/npc/include/config/dtrace.h
/npc/include/config/rve.h
/npc/include/config/wave.h
/nemu/.history
/npc/.history/
/npc/vsrc.bnk
/npc/include/generated/
/npc/obj_dir/
/npc/vsrc_ok/
/npc/vsrc.bnk/
/npc/vsrc-0203/
/npc/vsrc-0204-aftermodify/
/npc/.gitignore