CompileFlags:
    Add:
        [
            --target=aarch64-linux-gnu
        
        ]
    Remove: 
        [
            -fconserve-stack, 
            -fno-ipa-sra,
            -fno-var-tracking-assignments,
            -mavi=lp64
        ]